.containers {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.item {
    width: 50px;
    height: 50px;
    position: absolute;
}

.item-1 {
    background-color: rgb(250, 87, 103);
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-animation: item-1_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
    animation: item-1_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-2 {
    background-color: rgb(121, 68, 228);
    top: 0;
    right: 0;
    -webkit-animation: item-2_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
    animation: item-2_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-3 {
    background-color: rgb(27, 145, 247);
    bottom: 0;
    right: 0;
    z-index: 1;
    -webkit-animation: item-3_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
    animation: item-3_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-4 {
    background-color: rgb(250, 194, 76);
    bottom: 0;
    left: 0;
    -webkit-animation: item-4_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
    animation: item-4_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

@-webkit-keyframes item-1_move {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    25% {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }

    50% {
        -webkit-transform: translate(50px, 50px);
        transform: translate(50px, 50px)
    }

    75% {
        -webkit-transform: translate(50px, 0);
        transform: translate(50px, 0)
    }
}

@keyframes item-1_move {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    25% {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }

    50% {
        -webkit-transform: translate(50px, 50px);
        transform: translate(50px, 50px)
    }

    75% {
        -webkit-transform: translate(50px, 0);
        transform: translate(50px, 0)
    }
}

@-webkit-keyframes item-2_move {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    25% {
        -webkit-transform: translate(-50px, 0);
        transform: translate(-50px, 0)
    }

    50% {
        -webkit-transform: translate(-50px, 50px);
        transform: translate(-50px, 50px)
    }

    75% {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
}

@keyframes item-2_move {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    25% {
        -webkit-transform: translate(-50px, 0);
        transform: translate(-50px, 0)
    }

    50% {
        -webkit-transform: translate(-50px, 50px);
        transform: translate(-50px, 50px)
    }

    75% {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px)
    }
}

@-webkit-keyframes item-3_move {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    25% {
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px)
    }

    50% {
        -webkit-transform: translate(-50px, -50px);
        transform: translate(-50px, -50px)
    }

    75% {
        -webkit-transform: translate(-50px, 0);
        transform: translate(-50px, 0)
    }
}

@keyframes item-3_move {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    25% {
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px)
    }

    50% {
        -webkit-transform: translate(-50px, -50px);
        transform: translate(-50px, -50px)
    }

    75% {
        -webkit-transform: translate(-50px, 0);
        transform: translate(-50px, 0)
    }
}

@-webkit-keyframes item-4_move {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    25% {
        -webkit-transform: translate(50px, 0);
        transform: translate(50px, 0)
    }

    50% {
        -webkit-transform: translate(50px, -50px);
        transform: translate(50px, -50px)
    }

    75% {
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px)
    }
}

@keyframes item-4_move {

    0%,
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    25% {
        -webkit-transform: translate(50px, 0);
        transform: translate(50px, 0)
    }

    50% {
        -webkit-transform: translate(50px, -50px);
        transform: translate(50px, -50px)
    }

    75% {
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px)
    }
}